<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 @ArribaAbajo class="text-center">
                Practica adonis.js
            </h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col"></div>
        <div class="col">
            <form>
                <div @IzquierdaDerecha class="form-floating mb-3">
                    <input type="text" class="form-control bg-dark text-white" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div @DerechaIzquierda class="form-floating mb-3">
                    <input type="text" class="form-control bg-dark text-white" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div @IzquierdaDerecha class="form-floating mb-3">
                    <input type="text" class="form-control bg-dark text-white" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div @DerechaIzquierda class="form-floating mb-3">
                    <input type="text" class="form-control bg-dark text-white" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div @IzquierdaDerecha class="form-floating mb-3">
                    <input type="text" class="form-control bg-dark text-white" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div @DerechaIzquierda class="form-floating mb-3">
                    <input type="text" class="form-control bg-dark text-white" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div @AbajoArriba class="d-grid gap-2">
                    <button class="btn btn-outline-light" type="button">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>