
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                Interpolaion
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <p>
                <strong>Nombre</strong>: {{ Nombre }}
            </p>
            <p>
                <strong>Edad</strong>: {{ Edad }}
            </p>
            <p>
                <strong>Estado</strong>: {{ Estado }}
            </p>
            <p>
                <strong>Universidad</strong>: {{ Universidad }}
            </p>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
